body{margin: 0;font-size: 20;font-family: Arial, Helvetica, sans-serif;line-height: 30px;}
header{background: fixed url(../gambar/rusa.jpg); height: 100vh;
   -webkit-background-size:cover;
background-size: cover;
background-position: center center;
position: relative;text-align: center;padding-top: 50px;padding-bottom: 50px; }
h1, h2{font-family: 'Press Start 2P', cursive;}
header h1{color:black;font-size: 200px;opacity: 50%;font-family: 'Press Start 2P', cursive;}
header img{border-radius: 300px;width: 450px;border: 15px solid rgb(216, 131, 131);}
main{max-width: 800px;margin: 0 auto;padding: 20px;}
main img{max-width: 100%;}
h2{font-size: 30px;color: aqua;margin: 40px 0px 10px;}
main a{color: aqua;}
main a:hover{color: white;background-color: lawngreen;}
footer{background-color: aqua;text-align: center;padding: 50px;}
footer p{margin: 0;}
footer p:hover{opacity: 0.5;background-color: transparent;}
p.caption{color: gray;font-style: italic;margin-top: 0px;}
header h1:hover{opacity: 100%;color: black;animation: backwards;}
a.profil{text-align: right;}
header nav li{list-style: none;display: inline;margin: 20px; text-align: center;color: rgb(255, 248, 248);opacity: 70%;font-size: 20px;text-decoration: none;}
header img{size: 70%;}
body{margin: 0;font-size: 20;font-family: Arial, Helvetica, sans-serif;line-height: 30px;}
header{background: fixed url(../gambar/rusa.jpg); height: 30vh;
   -webkit-background-size:cover;
background-size: cover;
background-position: center center;
position: relative;text-align: center;padding-top: 50px;padding-bottom: 50px; }
h1, h2{font-family: 'Press Start 2P', cursive;}
header h1{color:black;font-size: 30px;opacity: 50%;font-family: 'Press Start 2P', cursive;padding-top: 10px;}
header img{border-radius: 150px;width: 225px;border: 15px solid rgb(216, 131, 131);}
main{max-width: 800px;margin: 0 auto;padding: 20px;}
main img{max-width: 100%;}
h2{font-size: 30px;color: aqua;margin: 40px 0px 10px;}
main a{color: rgb(0, 0, 0);opacity:100%;}
main a:hover{opacity: 120%;}
footer{background-color: aqua;text-align: center;padding: 50px;}
footer p{margin: 0;}
footer p:hover{opacity: 0.5;background-color: transparent;}
p.caption{color: gray;font-style: italic;margin-top: 0px;}
header h1:hover{opacity: 100%;color: black;animation: backwards;}
a.profil{text-align: right;}
header nav li{list-style: none;display: inline;margin: 20px; text-align: center;color: rgb(255, 248, 248);opacity: 70%;font-size: 20px;text-decoration: none;}

